.card {
    transform: rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
    transform-style: preserve-3d;
    transition: 150ms;
    cursor: ew-resize;
    height: 100%;
    width: 100%;

}

button:focus{
    outline: none !important;
}

button:hover{
    background: #c05621;
    cursor: pointer;
}

.back{
    padding: 2rem !important;
}

.linkButton{
    height: 75px;
    width: 75px;
    color: white;
    font-size: 1rem;
    border: 5px solid #c05621;
    padding: 0;
    background: transparent;
}


.card .front {
    left: 0;
}


.card .front,
.card .back {
    top: 0px;
    left: 0px;
    position: absolute;
    height: 100px;
    padding: 1rem;
    font-size: 1.5rem;
    backface-visibility: hidden;
    width: 100%;
}

.card .back {
    transform: rotateY(180deg);
}


.card.flip .cardImage{
    display: none !important;
}

.cardContainer {
    max-width: 287.4px;
    margin-left: auto;
    margin-right: auto;
    height: 380px;
}

.website {
    font-size: 1.24rem;
    top: 80%;
}

.innerImage {
    height: 163.8px; 
    width: 287.4px;
}



.website a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 400px) and (min-width: 300px) {
    .cardContent span {
        display: none;
    }
    .cardContainer {
        max-width: 215.55px;
    }
    .innerImage {
        width: 215.55px;
        height: 122.85px;
    }
    .innerGrid {
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)) !important;
    }
    .back {
        padding-top: 0rem !important;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
        padding-bottom: 1rem !important;
        font-size: 1.1rem !important;
    }
    .wholeCard {
        height: 185px !important;
    }
    .cardContainer{
        height: 200px !important;
    }
    .card .front,
    .card .back {
        font-size: 1.25rem !important;
    }
    .website{
        font-size: 1rem !important;
    }
    h3 {
        margin-top: 0.25rem !important;
        font-size: 1.2rem !important;
    }
    .flip-card-inner{
        margin-top: 1rem !important;
    }
    .linkButton{
        height: 30px;
        width: auto;
    }
    }

@media only screen and (min-width:400px) and (max-width:768px) {
.cardContent span {
    display: none;
}
.wholeCard {
    height: 260px !important;
}
.cardContainer{
    height: 200px !important;
}
.card .front,
.card .back {
    font-size: 1.25rem !important;
}
.website{
    font-size: 1rem !important;
}
h3 {
    margin-top: 0.5rem;
}

.linkButton{
    height: 30px;
    width: auto;
}
}


/* Test flip card */

.flip-card {
  background-color: transparent;
  height: 400px;

}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  text-align: left;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: white;
}

/* Style the back side */
.flip-card-back {
  color: white;
  transform: rotateY(180deg);
}