.card {
    transform: rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
    transform-style: preserve-3d;
    transition: 150ms;
    cursor: ew-resize;
    height: 100%;
    width: 100%;

}

.back{
    padding: 2rem !important;
}


.card.flip {
    --rotate-y: 180deg;
}

.card .front {
    left: 0;
}

.card.flip:hover{
    cursor: ew-resize;
}

.card .front,
.card .back {
    top: 0px;
    left: 0px;
    position: absolute;
    height: 100px;
    padding: 1rem;
    font-size: 1.5rem;
    backface-visibility: hidden;
    width: 100%;
}

.card .back {
    transform: rotateY(180deg);
}

.card.flip .cardContent{
    display: none;
}

.card.flip .cardImage{
    display: none !important;
}

.cardContainer {
    max-width: 287.4px;
    margin-left: auto;
    margin-right: auto;
    height: 380px;
}

.website {
    font-size: 1.24rem;
    top: 80%;
}




.website a:hover {
    text-decoration: underline;
}

@media only screen and (max-width:768px) {
.cardContent span {
    display: none;
}
.wholeCard {
    height: 260px !important;
}
.cardContainer{
    height: 200px !important;
}
.card .front,
.card .back {
    font-size: 1.25rem !important;
}
.website{
    font-size: 1rem !important;
}
h3 {
    margin-top: 0.5rem !important;
}
}